@using Microsoft.AspNetCore.Identity
@using NetCore.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="navbar-left">
        <ul class="nav navbar-nav">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Student</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Course">Course</a></li>
            <li><a asp-area="" asp-controller="User" asp-action="Index">User</a></li>
            <li><a asp-area="" asp-controller="Role" asp-action="UserRole">Role</a></li>
        </ul>
    </div>
}
else
{
   
}
